In [5]:
#Configuración. Primero me importo las librerias necesarias para el ejercicio

#Tratamiento de datos
# ---------------------------------------
import pandas as pd
import numpy as np

#Gestión de nulos 
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

#Visualización
#-----------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

#para configurar los dataframes y ver todas las columnas 
pd.set_option('display.max_columns', None)

Fase 1: Exploración de datos

In [7]:
#Lectura del fichero Annual Surface Temperature Change
surface_temperature= pd.read_csv('Annual_Surface_Temperature_Change.csv')
surface_temperature

FileNotFoundError: [Errno 2] No such file or directory: 'Annual_Surface_Temperature_Change.csv'

In [54]:
#Lectura del fichero Co2 concentrations
Co2_concentration= pd.read_csv('Atmospheric_Co2_Concentrations.csv')
Co2_concentration

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Date,Value
0,1,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M03,315.70
1,2,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M04,317.45
2,3,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M05,317.51
3,4,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M06,317.24
4,5,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M07,315.86
...,...,...,...,...,...,...,...,...,...,...,...,...
1565,1566,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2023M11,0.72
1566,1567,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2023M12,421.86
1567,1568,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2023M12,0.68
1568,1569,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2024M01,0.68
1569,1570,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2024M01,0.68

In [12]:
#Lectura del fichero Change Mean Sea Levels
Sea_levels= pd.read_csv('Change_Mean_Sea_Levels.csv')
Sea_levels

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Measure,Date,Value
0,1,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Andaman Sea,D12/17/1992,-10.34
1,2,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Arabian Sea,D12/17/1992,-18.46
2,3,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Atlantic Ocean,D12/17/1992,-15.41
3,4,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Baltic Sea,D12/17/1992,196.85
4,5,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Bay Bengal,D12/17/1992,3.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35599,35600,World,NaN,WLD,Change in mean sea level: Sea level: Trend,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",South China,D11/08/2022,3.76
35600,35601,World,NaN,WLD,Change in mean sea level: Sea level: Trend,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Southern Ocean,D11/08/2022,3.22
35601,35602,World,NaN,WLD,Change in mean sea level: Sea level: Trend,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Tropics,D11/08/2022,3.11
35602,35603,World,NaN,WLD,Change in mean sea level: Sea level: Trend,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",World,D11/08/2022,3.07
35603,35604,World,NaN,WLD,Change in mean sea level: Sea level: Trend,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Yellow Sea,D11/08/2022,2.75

In [22]:
#Lectura del fichero Land_Cover_Accounts
Land_cover= pd.read_csv('Land_Cover_Accounts.csv')
Land_cover

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Climate_Influence,F1992,F1993,F1994,F1995,F1996,F1997,F1998,F1999,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,F2008,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,Advanced Economies,NaN,AETMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,95.916769,97.008469,97.010250,97.319837,97.441706,97.509127,97.672341,98.129488,98.847612,99.045783,99.284305,99.405776,99.566642,99.599683,99.578181,99.561380,99.648257,99.680627,99.775715,99.901000,99.960848,99.977877,99.995789,100.00,100.013775,100.083020,100.240398,100.356993,100.449569,100.466144,100.533717
1,2,Advanced Economies excluding US,NaN,EAEUSTMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,94.800357,96.766630,96.730817,97.054438,97.135987,97.181578,97.283967,97.888593,98.936846,99.091660,99.413273,99.557533,99.799221,99.803638,99.729274,99.637397,99.733323,99.763216,99.870154,100.048878,100.101174,100.069004,100.031639,100.00,99.985052,100.017642,100.013159,100.020579,100.150581,100.143878,100.227310
2,3,Africa,NaN,AFRTMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,91.832081,93.784666,93.713749,94.489716,94.778176,95.177312,95.608114,96.683410,97.175286,97.585543,97.917541,98.137550,98.452292,98.369182,98.484172,98.599986,98.850927,99.277579,99.110412,99.254352,100.467000,100.402173,100.197790,100.00,99.896321,99.834069,99.555667,99.552164,99.672090,99.523970,99.606338
3,4,Americas,NaN,AMETMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,93.014668,93.114284,93.042191,94.367940,94.735406,94.997426,95.503961,96.364832,96.608819,96.819309,96.946463,97.282485,98.251951,98.141216,98.089117,98.320692,98.521855,98.747559,99.013559,99.152500,99.398834,99.606086,99.778072,100.00,100.276408,100.579215,100.807091,100.933862,100.995592,101.066500,101.022779
4,5,Asia,NaN,ASIATMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,100.792598,100.408125,99.991878,100.153143,100.174378,100.389103,100.631188,101.212330,101.723865,101.880677,101.973053,101.855282,101.905279,101.801054,101.573133,101.297411,101.146469,100.968824,100.779813,100.495593,100.264990,100.105208,100.084266,100.00,99.558494,99.187865,98.971561,98.602466,98.451773,98.375207,98.311531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,3029,Zimbabwe,ZW,ZWE,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,Food and Agriculture Organization of the Unite...,ECCCV,Shrubs and/or Herbaceous Vegetation and Aquati...,"Environment, Climate Change, Climate and Weath...",Climate regulating,27.580000,27.580000,27.580000,27.580000,27.610000,27.640000,27.920000,28.320000,28.370000,28.520000,28.790000,28.790000,28.910000,29.210000,29.230000,29.300000,28.880000,28.030000,28.150000,28.100000,28.300000,28.250000,28.320000,28.32,28.170000,27.940000,27.910000,27.950000,27.990000,28.030000,28.730000
3029,3030,Zimbabwe,ZW,ZWE,Sparsely natural vegetated areas,1000 HA,Food and Agriculture Organization of the Unite...,ECCCN,Sparsely Natural Vegetated Areas,"Environment, Climate Change, Climate and Weath...",Climate neutral,17.620000,17.620000,17.620000,17.610000,17.600000,17.600000,17.600000,17.930000,18.010000,18.020000,18.040000,18.110000,18.110000,18.160000,18.160000,18.160000,18.310000,18.280000,18.280000,18.280000,18.260000,18.250000,18.230000,18.23,18.280000,18.280000,18.340000,18.310000,18.390000,18.350000,18.640000
3030,3031,Zimbabwe,ZW,ZWE,Terrestrial barren land,1000 HA,Food and Agriculture Organization of the Unite...,ECCCT,Terrestrial Barren Land,"Environment, Climate Change, Climate and Weath...",Climate neutral,92.750000,92.730000,92.710000,92.480000,92.420000,92.760000,93.240000,93.660000,94.420000,94.510000,94.540000,94.480000,94.560000,94.710000,94.640000,94.280000,94.140000,93.620000,93.610000,93.480000,93.360000,93.200000,92.980000,92.97,91.960000,91.380000,90.630000,90.450000,90.370000,90.430000,90.540000
3031,3032,Zimbabwe,ZW,ZWE,Tree-covered areas,1000 HA,Food and Agriculture Organization of the Unite...,ECCCE,Tree-Covered Areas,"Environment, Climate Change, Climate and Weath...",Climate regulating,11097.520000,11097.110000,11096.780000,11089.700000,11104.180000,11146.530000,11136.560000,11092.840000,11137.750000,11133.680000,11113.730000,11106.950000,11144.330000,11136.170000,11165.700000,11115.430000,11161.680000,11289.770000,11296.330000,11299.670000,11280.560000,11288.060000,11323.870000,11323.76,11511.850000,11610.040000,11645.810000,11649.910000,11644.690000,11668.610000,11669.660000
3032,3033,Zimbabwe,ZW,ZWE,Woody crops,1000 HA,Food and Agriculture Organization of the Unite...,ECCCR,Woody Crops,"Environment, Climate Change, Climate and Weath...",Climate regulating,419.100000,413.740000,404.690000,403.750000,370.420000,360.550000,371.800000,360.900000,358.650000,359.830000,358.880000,360.720000,347.740000,339.410000,323.400000,333.310000,314.830000,325.590000,333.590000,318.130000,334.100000,334.080000,333.750000,333.75,331.990000,330.720000,330.520000,330.560000,330.580000,330.270000,330.190000

In [3]:
#EDA Surface_temperature
surface_temperature.head()
surface_temperature.sample(3)
surface_temperature.shape
surface_temperature.columns
surface_temperature.info()

NameError: name 'surface_temperature' is not defined

In [16]:
#Vamos a comprobar si tenemos duplicados
surface_temperature.duplicated().sum()

0

No tenemos duplicados ni valores nulos.

In [21]:
#Queremos eliminar las columnas F1961-F1995, F2020-F2023
# Eliminar múltiples columnas
surface_temperature = surface_temperature.drop(['F1961', 'F1962',
       'F1963', 'F1964', 'F1965', 'F1966', 'F1967', 'F1968', 'F1969', 'F1970',
       'F1971', 'F1972', 'F1973', 'F1974', 'F1975', 'F1976', 'F1977', 'F1978',
       'F1979', 'F1980', 'F1981', 'F1982', 'F1983', 'F1984', 'F1985', 'F1986',
       'F1987', 'F1988', 'F1989', 'F1990', 'F1991', 'F1992', 'F1993', 'F1994',
       'F1995','F2020','F2021','F2022'], axis=1)

KeyError: "['F1961', 'F1962', 'F1963', 'F1964', 'F1965', 'F1966', 'F1967', 'F1968', 'F1969', 'F1970', 'F1971', 'F1972', 'F1973', 'F1974', 'F1975', 'F1976', 'F1977', 'F1978', 'F1979', 'F1980', 'F1981', 'F1982', 'F1983', 'F1984', 'F1985', 'F1986', 'F1987', 'F1988', 'F1989', 'F1990', 'F1991', 'F1992', 'F1993', 'F1994', 'F1995', 'F2020', 'F2021', 'F2022'] not found in axis"

In [22]:
#revisamos que las columnas se han eliminador correctamente
surface_temperature

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,F1996,F1997,F1998,F1999,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,F2008,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.116,0.471,0.675,1.198,0.993,1.311,1.365,0.587,1.373,0.401,1.720,0.675,0.704,0.895,1.613,1.397,0.223,1.281,0.456,1.093,1.555,1.540,1.544,0.910
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.038,0.075,0.795,0.670,1.065,1.532,0.492,0.970,0.444,0.189,0.345,1.316,0.978,0.910,1.191,1.055,1.487,1.333,1.198,1.569,1.464,1.121,2.028,1.675
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.846,1.059,1.109,1.476,0.820,1.856,1.258,1.585,0.988,1.264,1.395,1.220,1.185,0.945,2.265,1.398,1.147,1.192,1.690,1.121,1.757,1.512,1.210,1.115
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.784,NaN,NaN,0.242,0.626,0.904,1.152,0.716,0.191,0.801,0.403,1.032,0.670,NaN,1.311,0.854,0.924,1.257,1.170,1.009,1.539,1.435,1.189,1.539
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.570,1.788,1.018,1.055,1.050,1.480,0.835,1.949,0.936,0.851,1.485,1.024,0.946,1.413,0.471,1.677,1.265,0.831,1.946,1.690,1.990,1.925,1.919,1.964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,221,Western Sahara,EH,ESH,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",1.353,1.536,1.415,0.935,0.874,1.296,1.249,1.387,1.550,1.210,1.406,0.903,1.351,0.938,1.898,1.579,1.344,1.423,1.401,1.510,1.732,2.204,0.942,1.477
221,222,World,NaN,WLD,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.355,0.656,0.993,0.783,0.728,0.834,1.021,0.893,0.913,1.095,0.998,1.195,0.935,0.957,1.219,0.921,1.074,1.016,1.053,1.412,1.660,1.429,1.290,1.444
222,223,"Yemen, Rep. of",YE,YEM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",NaN,0.107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,224,Zambia,ZM,ZMB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.393,0.339,0.876,0.064,-0.040,0.263,0.711,0.871,0.606,0.948,0.623,0.780,0.438,0.306,1.210,0.956,0.972,0.790,0.917,1.450,1.401,0.105,0.648,0.855
224,225,Zimbabwe,ZW,ZWE,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.247,-0.025,0.801,0.030,-0.417,0.004,0.487,0.355,-0.004,0.945,-0.260,0.127,0.078,-0.226,0.935,0.232,0.334,0.118,0.025,0.970,1.270,0.088,0.453,0.925

In [26]:
#revisamos las columnas de surface_temperature
surface_temperature.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'F1996', 'F1997',
       'F1998', 'F1999', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004', 'F2005',
       'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013',
       'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019'],
      dtype='object')

In [27]:
#guardamos los cambios de surface_temperature en un nuevo csv
surface_temperature.to_csv('Annual_Surface_Temperature_Change_ok.csv', index=False)

In [59]:
#EDA Co2_concentration
Co2_concentration.head()
Co2_concentration.shape
Co2_concentration.info()
Co2_concentration.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1570 entries, 0 to 1569
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             1570 non-null   int64
 1   Country              1570 non-null   object
 2   ISO2                 0 non-null      float64
 3   ISO3                 1570 non-null   object
 4   Indicator            1570 non-null   object
 5   Unit                 1570 non-null   object
 6   Source               1570 non-null   object
 7   CTS_Code             1570 non-null   object
 8   CTS_Name             1570 non-null   object
 9   CTS_Full_Descriptor  1570 non-null   object
 10  Date                 1570 non-null   object
 11  Value                1570 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 147.3+ KB

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Date', 'Value'],
      dtype='object')

In [60]:
#Miramos nulos
Co2_concentration.isnull().sum()

ObjectId                  0
Country                   0
ISO2                   1570
ISO3                      0
Indicator                 0
Unit                      0
Source                    0
CTS_Code                  0
CTS_Name                  0
CTS_Full_Descriptor       0
Date                      0
Value                     0
dtype: int64

In [61]:
#Miramos duplicados 
Co2_concentration.duplicated().sum()

0

In [65]:
#Eliminamos la columna ISO2 porqué solo tiene Nan
Co2_concentration = Co2_concentration.drop(['ISO2'], axis=1)

In [66]:
#Comprobamos que se ha eliminado la columna ISO2
Co2_concentration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1570 entries, 0 to 1569
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             1570 non-null   int64
 1   Country              1570 non-null   object
 2   ISO3                 1570 non-null   object
 3   Indicator            1570 non-null   object
 4   Unit                 1570 non-null   object
 5   Source               1570 non-null   object
 6   CTS_Code             1570 non-null   object
 7   CTS_Name             1570 non-null   object
 8   CTS_Full_Descriptor  1570 non-null   object
 9   Date                 1570 non-null   object
 10  Value                1570 non-null   float64
 11  Years                1570 non-null   int32
dtypes: float64(1), int32(1), int64(1), object(9)
memory usage: 141.2+ KB

In [63]:
#Queremos crear una columna que se llame "Years" y pasamos el dato objeto a númerico
Co2_concentration['Years'] = Co2_concentration['Date'].str[:4]
Co2_concentration['Years'] = Co2_concentration['Years'].astype(int)

In [64]:
#Revisamos la columna "Years"
Co2_concentration["Years"]

0       1958
1       1958
2       1958
3       1958
4       1958
        ...
1565    2023
1566    2023
1567    2023
1568    2024
1569    2024
Name: Years, Length: 1570, dtype: int32

In [67]:
#Vamos a hacer una copia del DF Co2_concentration
Co2_concentration_1 = Co2_concentration

In [75]:
#Analizamos la columna "Years"
Co2_concentration["Years"]
Co2_concentration["Years"].info

<bound method Series.info of 0       1958
1       1958
2       1958
3       1958
4       1958
5       1958
6       1958
7       1958
8       1958
9       1958
10      1959
11      1959
12      1959
13      1959
14      1959
15      1959
16      1959
17      1959
18      1959
19      1959
20      1959
21      1959
22      1959
23      1959
24      1959
25      1959
26      1959
27      1959
28      1959
29      1959
30      1959
31      1959
32      1960
33      1960
34      1960
35      1960
36      1960
37      1960
38      1960
39      1960
40      1960
41      1960
42      1960
43      1960
44      1960
45      1960
46      1960
47      1960
48      1960
49      1960
50      1960
51      1960
52      1960
53      1960
54      1960
55      1960
56      1961
57      1961
58      1961
59      1961
60      1961
61      1961
62      1961
63      1961
64      1961
65      1961
66      1961
67      1961
68      1961
69      1961
70      1961
71      1961
72      1961
73      1961
74      1961
75      1961
76      1961
77      1961
78      1961
79      1961
80      1962
81      1962
82      1962
83      1962
84      1962
85      1962
86      1962
87      1962
88      1962
89      1962
90      1962
91      1962
92      1962
93      1962
94      1962
95      1962
96      1962
97      1962
98      1962
99      1962
100     1962
101     1962
102     1962
103     1962
104     1963
105     1963
106     1963
107     1963
108     1963
109     1963
110     1963
111     1963
112     1963
113     1963
114     1963
115     1963
116     1963
117     1963
118     1963
119     1963
120     1963
121     1963
122     1963
123     1963
124     1963
125     1963
126     1963
127     1963
128     1964
129     1964
130     1964
131     1964
132     1964
133     1964
134     1964
135     1964
136     1964
137     1964
138     1964
139     1964
140     1964
141     1964
142     1964
143     1964
144     1964
145     1964
146     1964
147     1964
148     1964
149     1964
150     1964
151     1964
152     1965
153     1965
154     1965
155     1965
156     1965
157     1965
158     1965
159     1965
160     1965
161     1965
162     1965
163     1965
164     1965
165     1965
166     1965
167     1965
168     1965
169     1965
170     1965
171     1965
172     1965
173     1965
174     1965
175     1965
176     1966
177     1966
178     1966
179     1966
180     1966
181     1966
182     1966
183     1966
184     1966
185     1966
186     1966
187     1966
188     1966
189     1966
190     1966
191     1966
192     1966
193     1966
194     1966
195     1966
196     1966
197     1966
198     1966
199     1966
200     1967
201     1967
202     1967
203     1967
204     1967
205     1967
206     1967
207     1967
208     1967
209     1967
210     1967
211     1967
212     1967
213     1967
214     1967
215     1967
216     1967
217     1967
218     1967
219     1967
220     1967
221     1967
222     1967
223     1967
224     1968
225     1968
226     1968
227     1968
228     1968
229     1968
230     1968
231     1968
232     1968
233     1968
234     1968
235     1968
236     1968
237     1968
238     1968
239     1968
240     1968
241     1968
242     1968
243     1968
244     1968
245     1968
246     1968
247     1968
248     1969
249     1969
250     1969
251     1969
252     1969
253     1969
254     1969
255     1969
256     1969
257     1969
258     1969
259     1969
260     1969
261     1969
262     1969
263     1969
264     1969
265     1969
266     1969
267     1969
268     1969
269     1969
270     1969
271     1969
272     1970
273     1970
274     1970
275     1970
276     1970
277     1970
278     1970
279     1970
280     1970
281     1970
282     1970
283     1970
284     1970
285     1970
286     1970
287     1970
288     1970
289     1970
290     1970
291     1970
292     1970
293     1970
294     1970
295     1970
296     1971
297     1971
298     1971
299     1971
300     1971
301     1971
302     1971
303     1971
304     1971
305     1971
306     1971
307     1971
308     1971
309     1971
310     1971
311     1971
312     1971
313     1971
314     1971
315     1971
316     1971
317     1971
318     1971
319     1971
320     1972
321     1972
322     1972
323     1972
324     1972
325     1972
326     1972
327     1972
328     1972
329     1972
330     1972
331     1972
332     1972
333     1972
334     1972
335     1972
336     1972
337     1972
338     1972
339     1972
340     1972
341     1972
342     1972
343     1972
344     1973
345     1973
346     1973
347     1973
348     1973
349     1973
350     1973
351     1973
352     1973
353     1973
354     1973
355     1973
356     1973
357     1973
358     1973
359     1973
360     1973
361     1973
362     1973
363     1973
364     1973
365     1973
366     1973
367     1973
368     1974
369     1974
370     1974
371     1974
372     1974
373     1974
374     1974
375     1974
376     1974
377     1974
378     1974
379     1974
380     1974
381     1974
382     1974
383     1974
384     1974
385     1974
386     1974
387     1974
388     1974
389     1974
390     1974
391     1974
392     1975
393     1975
394     1975
395     1975
396     1975
397     1975
398     1975
399     1975
400     1975
401     1975
402     1975
403     1975
404     1975
405     1975
406     1975
407     1975
408     1975
409     1975
410     1975
411     1975
412     1975
413     1975
414     1975
415     1975
416     1976
417     1976
418     1976
419     1976
420     1976
421     1976
422     1976
423     1976
424     1976
425     1976
426     1976
427     1976
428     1976
429     1976
430     1976
431     1976
432     1976
433     1976
434     1976
435     1976
436     1976
437     1976
438     1976
439     1976
440     1977
441     1977
442     1977
443     1977
444     1977
445     1977
446     1977
447     1977
448     1977
449     1977
450     1977
451     1977
452     1977
453     1977
454     1977
455     1977
456     1977
457     1977
458     1977
459     1977
460     1977
461     1977
462     1977
463     1977
464     1978
465     1978
466     1978
467     1978
468     1978
469     1978
470     1978
471     1978
472     1978
473     1978
474     1978
475     1978
476     1978
477     1978
478     1978
479     1978
480     1978
481     1978
482     1978
483     1978
484     1978
485     1978
486     1978
487     1978
488     1979
489     1979
490     1979
491     1979
492     1979
493     1979
494     1979
495     1979
496     1979
497     1979
498     1979
499     1979
500     1979
501     1979
502     1979
503     1979
504     1979
505     1979
506     1979
507     1979
508     1979
509     1979
510     1979
511     1979
512     1980
513     1980
514     1980
515     1980
516     1980
517     1980
518     1980
519     1980
520     1980
521     1980
522     1980
523     1980
524     1980
525     1980
526     1980
527     1980
528     1980
529     1980
530     1980
531     1980
532     1980
533     1980
534     1980
535     1980
536     1981
537     1981
538     1981
539     1981
540     1981
541     1981
542     1981
543     1981
544     1981
545     1981
546     1981
547     1981
548     1981
549     1981
550     1981
551     1981
552     1981
553     1981
554     1981
555     1981
556     1981
557     1981
558     1981
559     1981
560     1982
561     1982
562     1982
563     1982
564     1982
565     1982
566     1982
567     1982
568     1982
569     1982
570     1982
571     1982
572     1982
573     1982
574     1982
575     1982
576     1982
577     1982
578     1982
579     1982
580     1982
581     1982
582     1982
583     1982
584     1983
585     1983
586     1983
587     1983
588     1983
589     1983
590     1983
591     1983
592     1983
593     1983
594     1983
595     1983
596     1983
597     1983
598     1983
599     1983
600     1983
601     1983
602     1983
603     1983
604     1983
605     1983
606     1983
607     1983
608     1984
609     1984
610     1984
611     1984
612     1984
613     1984
614     1984
615     1984
616     1984
617     1984
618     1984
619     1984
620     1984
621     1984
622     1984
623     1984
624     1984
625     1984
626     1984
627     1984
628     1984
629     1984
630     1984
631     1984
632     1985
633     1985
634     1985
635     1985
636     1985
637     1985
638     1985
639     1985
640     1985
641     1985
642     1985
643     1985
644     1985
645     1985
646     1985
647     1985
648     1985
649     1985
650     1985
651     1985
652     1985
653     1985
654     1985
655     1985
656     1986
657     1986
658     1986
659     1986
660     1986
661     1986
662     1986
663     1986
664     1986
665     1986
666     1986
667     1986
668     1986
669     1986
670     1986
671     1986
672     1986
673     1986
674     1986
675     1986
676     1986
677     1986
678     1986
679     1986
680     1987
681     1987
682     1987
683     1987
684     1987
685     1987
686     1987
687     1987
688     1987
689     1987
690     1987
691     1987
692     1987
693     1987
694     1987
695     1987
696     1987
697     1987
698     1987
699     1987
700     1987
701     1987
702     1987
703     1987
704     1988
705     1988
706     1988
707     1988
708     1988
709     1988
710     1988
711     1988
712     1988
713     1988
714     1988
715     1988
716     1988
717     1988
718     1988
719     1988
720     1988
721     1988
722     1988
723     1988
724     1988
725     1988
726     1988
727     1988
728     1989
729     1989
730     1989
731     1989
732     1989
733     1989
734     1989
735     1989
736     1989
737     1989
738     1989
739     1989
740     1989
741     1989
742     1989
743     1989
744     1989
745     1989
746     1989
747     1989
748     1989
749     1989
750     1989
751     1989
752     1990
753     1990
754     1990
755     1990
756     1990
757     1990
758     1990
759     1990
760     1990
761     1990
762     1990
763     1990
764     1990
765     1990
766     1990
767     1990
768     1990
769     1990
770     1990
771     1990
772     1990
773     1990
774     1990
775     1990
776     1991
777     1991
778     1991
779     1991
780     1991
781     1991
782     1991
783     1991
784     1991
785     1991
786     1991
787     1991
788     1991
789     1991
790     1991
791     1991
792     1991
793     1991
794     1991
795     1991
796     1991
797     1991
798     1991
799     1991
800     1992
801     1992
802     1992
803     1992
804     1992
805     1992
806     1992
807     1992
808     1992
809     1992
810     1992
811     1992
812     1992
813     1992
814     1992
815     1992
816     1992
817     1992
818     1992
819     1992
820     1992
821     1992
822     1992
823     1992
824     1993
825     1993
826     1993
827     1993
828     1993
829     1993
830     1993
831     1993
832     1993
833     1993
834     1993
835     1993
836     1993
837     1993
838     1993
839     1993
840     1993
841     1993
842     1993
843     1993
844     1993
845     1993
846     1993
847     1993
848     1994
849     1994
850     1994
851     1994
852     1994
853     1994
854     1994
855     1994
856     1994
857     1994
858     1994
859     1994
860     1994
861     1994
862     1994
863     1994
864     1994
865     1994
866     1994
867     1994
868     1994
869     1994
870     1994
871     1994
872     1995
873     1995
874     1995
875     1995
876     1995
877     1995
878     1995
879     1995
880     1995
881     1995
882     1995
883     1995
884     1995
885     1995
886     1995
887     1995
888     1995
889     1995
890     1995
891     1995
892     1995
893     1995
894     1995
895     1995
896     1996
897     1996
898     1996
899     1996
900     1996
901     1996
902     1996
903     1996
904     1996
905     1996
906     1996
907     1996
908     1996
909     1996
910     1996
911     1996
912     1996
913     1996
914     1996
915     1996
916     1996
917     1996
918     1996
919     1996
920     1997
921     1997
922     1997
923     1997
924     1997
925     1997
926     1997
927     1997
928     1997
929     1997
930     1997
931     1997
932     1997
933     1997
934     1997
935     1997
936     1997
937     1997
938     1997
939     1997
940     1997
941     1997
942     1997
943     1997
944     1998
945     1998
946     1998
947     1998
948     1998
949     1998
950     1998
951     1998
952     1998
953     1998
954     1998
955     1998
956     1998
957     1998
958     1998
959     1998
960     1998
961     1998
962     1998
963     1998
964     1998
965     1998
966     1998
967     1998
968     1999
969     1999
970     1999
971     1999
972     1999
973     1999
974     1999
975     1999
976     1999
977     1999
978     1999
979     1999
980     1999
981     1999
982     1999
983     1999
984     1999
985     1999
986     1999
987     1999
988     1999
989     1999
990     1999
991     1999
992     2000
993     2000
994     2000
995     2000
996     2000
997     2000
998     2000
999     2000
1000    2000
1001    2000
1002    2000
1003    2000
1004    2000
1005    2000
1006    2000
1007    2000
1008    2000
1009    2000
1010    2000
1011    2000
1012    2000
1013    2000
1014    2000
1015    2000
1016    2001
1017    2001
1018    2001
1019    2001
1020    2001
1021    2001
1022    2001
1023    2001
1024    2001
1025    2001
1026    2001
1027    2001
1028    2001
1029    2001
1030    2001
1031    2001
1032    2001
1033    2001
1034    2001
1035    2001
1036    2001
1037    2001
1038    2001
1039    2001
1040    2002
1041    2002
1042    2002
1043    2002
1044    2002
1045    2002
1046    2002
1047    2002
1048    2002
1049    2002
1050    2002
1051    2002
1052    2002
1053    2002
1054    2002
1055    2002
1056    2002
1057    2002
1058    2002
1059    2002
1060    2002
1061    2002
1062    2002
1063    2002
1064    2003
1065    2003
1066    2003
1067    2003
1068    2003
1069    2003
1070    2003
1071    2003
1072    2003
1073    2003
1074    2003
1075    2003
1076    2003
1077    2003
1078    2003
1079    2003
1080    2003
1081    2003
1082    2003
1083    2003
1084    2003
1085    2003
1086    2003
1087    2003
1088    2004
1089    2004
1090    2004
1091    2004
1092    2004
1093    2004
1094    2004
1095    2004
1096    2004
1097    2004
1098    2004
1099    2004
1100    2004
1101    2004
1102    2004
1103    2004
1104    2004
1105    2004
1106    2004
1107    2004
1108    2004
1109    2004
1110    2004
1111    2004
1112    2005
1113    2005
1114    2005
1115    2005
1116    2005
1117    2005
1118    2005
1119    2005
1120    2005
1121    2005
1122    2005
1123    2005
1124    2005
1125    2005
1126    2005
1127    2005
1128    2005
1129    2005
1130    2005
1131    2005
1132    2005
1133    2005
1134    2005
1135    2005
1136    2006
1137    2006
1138    2006
1139    2006
1140    2006
1141    2006
1142    2006
1143    2006
1144    2006
1145    2006
1146    2006
1147    2006
1148    2006
1149    2006
1150    2006
1151    2006
1152    2006
1153    2006
1154    2006
1155    2006
1156    2006
1157    2006
1158    2006
1159    2006
1160    2007
1161    2007
1162    2007
1163    2007
1164    2007
1165    2007
1166    2007
1167    2007
1168    2007
1169    2007
1170    2007
1171    2007
1172    2007
1173    2007
1174    2007
1175    2007
1176    2007
1177    2007
1178    2007
1179    2007
1180    2007
1181    2007
1182    2007
1183    2007
1184    2008
1185    2008
1186    2008
1187    2008
1188    2008
1189    2008
1190    2008
1191    2008
1192    2008
1193    2008
1194    2008
1195    2008
1196    2008
1197    2008
1198    2008
1199    2008
1200    2008
1201    2008
1202    2008
1203    2008
1204    2008
1205    2008
1206    2008
1207    2008
1208    2009
1209    2009
1210    2009
1211    2009
1212    2009
1213    2009
1214    2009
1215    2009
1216    2009
1217    2009
1218    2009
1219    2009
1220    2009
1221    2009
1222    2009
1223    2009
1224    2009
1225    2009
1226    2009
1227    2009
1228    2009
1229    2009
1230    2009
1231    2009
1232    2010
1233    2010
1234    2010
1235    2010
1236    2010
1237    2010
1238    2010
1239    2010
1240    2010
1241    2010
1242    2010
1243    2010
1244    2010
1245    2010
1246    2010
1247    2010
1248    2010
1249    2010
1250    2010
1251    2010
1252    2010
1253    2010
1254    2010
1255    2010
1256    2011
1257    2011
1258    2011
1259    2011
1260    2011
1261    2011
1262    2011
1263    2011
1264    2011
1265    2011
1266    2011
1267    2011
1268    2011
1269    2011
1270    2011
1271    2011
1272    2011
1273    2011
1274    2011
1275    2011
1276    2011
1277    2011
1278    2011
1279    2011
1280    2012
1281    2012
1282    2012
1283    2012
1284    2012
1285    2012
1286    2012
1287    2012
1288    2012
1289    2012
1290    2012
1291    2012
1292    2012
1293    2012
1294    2012
1295    2012
1296    2012
1297    2012
1298    2012
1299    2012
1300    2012
1301    2012
1302    2012
1303    2012
1304    2013
1305    2013
1306    2013
1307    2013
1308    2013
1309    2013
1310    2013
1311    2013
1312    2013
1313    2013
1314    2013
1315    2013
1316    2013
1317    2013
1318    2013
1319    2013
1320    2013
1321    2013
1322    2013
1323    2013
1324    2013
1325    2013
1326    2013
1327    2013
1328    2014
1329    2014
1330    2014
1331    2014
1332    2014
1333    2014
1334    2014
1335    2014
1336    2014
1337    2014
1338    2014
1339    2014
1340    2014
1341    2014
1342    2014
1343    2014
1344    2014
1345    2014
1346    2014
1347    2014
1348    2014
1349    2014
1350    2014
1351    2014
1352    2015
1353    2015
1354    2015
1355    2015
1356    2015
1357    2015
1358    2015
1359    2015
1360    2015
1361    2015
1362    2015
1363    2015
1364    2015
1365    2015
1366    2015
1367    2015
1368    2015
1369    2015
1370    2015
1371    2015
1372    2015
1373    2015
1374    2015
1375    2015
1376    2016
1377    2016
1378    2016
1379    2016
1380    2016
1381    2016
1382    2016
1383    2016
1384    2016
1385    2016
1386    2016
1387    2016
1388    2016
1389    2016
1390    2016
1391    2016
1392    2016
1393    2016
1394    2016
1395    2016
1396    2016
1397    2016
1398    2016
1399    2016
1400    2017
1401    2017
1402    2017
1403    2017
1404    2017
1405    2017
1406    2017
1407    2017
1408    2017
1409    2017
1410    2017
1411    2017
1412    2017
1413    2017
1414    2017
1415    2017
1416    2017
1417    2017
1418    2017
1419    2017
1420    2017
1421    2017
1422    2017
1423    2017
1424    2018
1425    2018
1426    2018
1427    2018
1428    2018
1429    2018
1430    2018
1431    2018
1432    2018
1433    2018
1434    2018
1435    2018
1436    2018
1437    2018
1438    2018
1439    2018
1440    2018
1441    2018
1442    2018
1443    2018
1444    2018
1445    2018
1446    2018
1447    2018
1448    2019
1449    2019
1450    2019
1451    2019
1452    2019
1453    2019
1454    2019
1455    2019
1456    2019
1457    2019
1458    2019
1459    2019
1460    2019
1461    2019
1462    2019
1463    2019
1464    2019
1465    2019
1466    2019
1467    2019
1468    2019
1469    2019
1470    2019
1471    2019
1472    2020
1473    2020
1474    2020
1475    2020
1476    2020
1477    2020
1478    2020
1479    2020
1480    2020
1481    2020
1482    2020
1483    2020
1484    2020
1485    2020
1486    2020
1487    2020
1488    2020
1489    2020
1490    2020
1491    2020
1492    2020
1493    2020
1494    2020
1495    2020
1496    2021
1497    2021
1498    2021
1499    2021
1500    2021
1501    2021
1502    2021
1503    2021
1504    2021
1505    2021
1506    2021
1507    2021
1508    2021
1509    2021
1510    2021
1511    2021
1512    2021
1513    2021
1514    2021
1515    2021
1516    2021
1517    2021
1518    2021
1519    2021
1520    2022
1521    2022
1522    2022
1523    2022
1524    2022
1525    2022
1526    2022
1527    2022
1528    2022
1529    2022
1530    2022
1531    2022
1532    2022
1533    2022
1534    2022
1535    2022

In [78]:
#Revisamos la columna "Years"
Co2_concentration['Years'].value_counts()

In [80]:
# Filtrar el DataFrame para mantener solo los años que necesitas
Co2_concentration_1 = Co2_concentration_1[~((Co2_concentration_1['Years'] >= 1958) & (Co2_concentration_1['Years'] <= 1995) | 
           (Co2_concentration_1['Years'] >= 2020) & (Co2_concentration_1['Years'] <= 2024))]

Co2_concentration_1['Years'].value_counts()

Years
1996    24
1997    24
2018    24
2017    24
2016    24
2015    24
2014    24
2013    24
2012    24
2011    24
2010    24
2009    24
2008    24
2007    24
2006    24
2005    24
2004    24
2003    24
2002    24
2001    24
2000    24
1999    24
1998    24
2019    24
Name: count, dtype: int64

In [81]:
#Comprobamos si hemos eliminado filas de los años que no necesitamos
Co2_concentration_1.shape

(576, 12)

In [84]:
#Comprobamos que no hay duplicados en Co2_concentration_1
Co2_concentration_1.duplicated().sum()

0

In [85]:
#Comprobamos que no hay nulos en Co2_concentration_1
Co2_concentration_1.isnull().sum()

ObjectId               0
Country                0
ISO3                   0
Indicator              0
Unit                   0
Source                 0
CTS_Code               0
CTS_Name               0
CTS_Full_Descriptor    0
Date                   0
Value                  0
Years                  0
dtype: int64

In [86]:
#guardamos los cambios de Co2_concentration_1
Co2_concentration_1.to_csv('Co2_concentration_ok.csv', index=False)

In [13]:
#EDA Change_Mean_Sea_levels
Sea_levels.head()
Sea_levels.sample(3)
Sea_levels.shape
Sea_levels.columns
Sea_levels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35604 entries, 0 to 35603
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             35604 non-null  int64
 1   Country              35604 non-null  object
 2   ISO2                 0 non-null      float64
 3   ISO3                 35604 non-null  object
 4   Indicator            35604 non-null  object
 5   Unit                 35604 non-null  object
 6   Source               35604 non-null  object
 7   CTS_Code             35604 non-null  object
 8   CTS_Name             35604 non-null  object
 9   CTS_Full_Descriptor  35604 non-null  object
 10  Measure              35604 non-null  object
 11  Date                 35604 non-null  object
 12  Value                35604 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 3.5+ MB

In [14]:
Sea_levels.sample(3)

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Measure,Date,Value
4766,4767,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",World,D09/08/1998,0.65
9809,9810,World,NaN,WLD,Change in mean sea level: Sea level: Jason.1,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Bering Sea,D04/01/2003,-23.08
3796,3797,World,NaN,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",World,D06/29/1997,-9.65

In [15]:
#Vamos a comprobar si tenemos duplicados
Sea_levels.duplicated().sum()

0

In [16]:
#Eliminamos la columna ISO2 porqué solo tiene Nan
Sea_levels = Sea_levels.drop(['ISO2'], axis=1)
Sea_levels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35604 entries, 0 to 35603
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             35604 non-null  int64
 1   Country              35604 non-null  object
 2   ISO3                 35604 non-null  object
 3   Indicator            35604 non-null  object
 4   Unit                 35604 non-null  object
 5   Source               35604 non-null  object
 6   CTS_Code             35604 non-null  object
 7   CTS_Name             35604 non-null  object
 8   CTS_Full_Descriptor  35604 non-null  object
 9   Measure              35604 non-null  object
 10  Date                 35604 non-null  object
 11  Value                35604 non-null  float64
dtypes: float64(1), int64(1), object(10)
memory usage: 3.3+ MB

In [17]:
#Queremos crear una columna que se llame "Years" y pasamos el dato objeto a númerico
Sea_levels['Years'] =Sea_levels['Date'].str[-4:]

In [19]:
Sea_levels['Years'] = Sea_levels['Years'].astype(int)

In [18]:
Sea_levels.sample(3)

,ObjectId,Country,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Measure,Date,Value,Years
30843,30844,World,WLD,Change in mean sea level: Sea level: Jason.3,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Indonesian,D09/10/2017,-7.22,2017
26413,26414,World,WLD,Change in mean sea level: Sea level: Jason.2,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Persian Gulf,D02/28/2014,-14.87,2014
23575,23576,World,WLD,Change in mean sea level: Sea level: Jason.1,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Mediterranean,D03/02/2012,-124.52,2012

In [20]:
# Filtrar el DataFrame para mantener solo los años que necesitas
Sea_levels = Sea_levels[~((Sea_levels['Years'] >= 1958) & (Sea_levels['Years'] <= 1995) | 
           (Sea_levels['Years'] >= 2020) & (Sea_levels['Years'] <= 2024))]

Sea_levels['Years'].value_counts()

Years
2010    1848
2003    1847
2011    1827
2009    1820
2004    1797
2002    1756
2016    1748
2012    1722
2005    1650
2008    1303
2013    1293
2017    1275
2018     925
2015     925
2019     923
2007     922
2014     903
2006     900
2001     895
2000     850
1996     830
1997     825
1999     825
1998     825
Name: count, dtype: int64

In [26]:
Sea_levels.sample(3)

,ObjectId,Country,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Measure,Date,Value,Years
13791,13792,World,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",World,D06/03/2005,8.55,2005
4496,4497,World,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Southern Ocean,D05/03/1998,12.67,1998
3877,3878,World,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Andaman Sea,D08/18/1997,4.36,1997

In [21]:
#guardamos los cambios de Sea Levels:
Sea_levels.to_csv('Change_Mean_Sea_levels_ok.csv', index=False)

In [23]:
#EDA Land Cover Accounts
Land_cover.head()
Land_cover.sample(3)
Land_cover.shape
Land_cover.columns
Land_cover.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             3033 non-null   int64
 1   Country              3033 non-null   object
 2   ISO2                 2964 non-null   object
 3   ISO3                 3033 non-null   object
 4   Indicator            3033 non-null   object
 5   Unit                 3033 non-null   object
 6   Source               3033 non-null   object
 7   CTS_Code             3033 non-null   object
 8   CTS_Name             3033 non-null   object
 9   CTS_Full_Descriptor  3033 non-null   object
 10  Climate_Influence    3033 non-null   object
 11  F1992                3023 non-null   float64
 12  F1993                3027 non-null   float64
 13  F1994                3027 non-null   float64
 14  F1995                3027 non-null   float64
 15  F1996                3027 non-null   float64
 16  F1997                3027 non-null   float64
 17  F1998                3027 non-null   float64
 18  F1999                3027 non-null   float64
 19  F2000                3029 non-null   float64
 20  F2001                3029 non-null   float64
 21  F2002                3029 non-null   float64
 22  F2003                3029 non-null   float64
 23  F2004                3029 non-null   float64
 24  F2005                3029 non-null   float64
 25  F2006                3031 non-null   float64
 26  F2007                3031 non-null   float64
 27  F2008                3031 non-null   float64
 28  F2009                3031 non-null   float64
 29  F2010                3031 non-null   float64
 30  F2011                3031 non-null   float64
 31  F2012                3033 non-null   float64
 32  F2013                3033 non-null   float64
 33  F2014                3033 non-null   float64
 34  F2015                3033 non-null   float64
 35  F2016                3033 non-null   float64
 36  F2017                3033 non-null   float64
 37  F2018                3030 non-null   float64
 38  F2019                3033 non-null   float64
 39  F2020                3033 non-null   float64
 40  F2021                3033 non-null   float64
 41  F2022                3033 non-null   float64
dtypes: float64(31), int64(1), object(10)
memory usage: 995.3+ KB

In [24]:
#Vamos a comprobar si tenemos duplicados
Sea_levels.duplicated().sum()

0

In [25]:
Land_cover.sample(3)

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Climate_Influence,F1992,F1993,F1994,F1995,F1996,F1997,F1998,F1999,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,F2008,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
1076,1077,Falkland Islands (Malvinas),FK,FLK,Herbaceous crops,1000 HA,Food and Agriculture Organization of the Unite...,ECCCH,Herbaceous Crops,"Environment, Climate Change, Climate and Weath...",Climate altering,0.36,0.36,0.36,0.36,0.36,0.36,0.36,0.36,0.36,0.15,0.13,0.13,0.16,0.06,0.03,0.03,0.03,0.03,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.03,0.03,0.03,0.03
909,910,Czech Rep.,CZ,CZE,Inland water bodies,1000 HA,Food and Agriculture Organization of the Unite...,ECCCW,Inland Water Bodies,"Environment, Climate Change, Climate and Weath...",Climate regulating,0.00,59.35,59.35,59.32,59.56,59.78,59.76,59.83,59.85,59.62,59.20,59.15,59.10,59.10,59.08,59.07,59.05,59.06,59.05,59.06,59.04,59.04,59.04,59.04,59.04,59.04,59.04,59.05,59.15,59.04,59.04
1165,1166,"Gambia, The",GM,GMB,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,Food and Agriculture Organization of the Unite...,ECCCV,Shrubs and/or Herbaceous Vegetation and Aquati...,"Environment, Climate Change, Climate and Weath...",Climate regulating,4.50,4.50,4.50,4.52,4.52,4.52,4.53,4.53,4.54,4.54,4.54,4.54,4.36,4.33,4.33,4.33,4.32,4.28,4.22,4.22,4.22,4.22,4.22,4.20,4.20,4.21,4.33,4.33,4.35,4.32,4.44

In [27]:
#revisamos las columnas de Land Cover
Land_cover.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Climate_Influence',
       'F1992', 'F1993', 'F1994', 'F1995', 'F1996', 'F1997', 'F1998', 'F1999',
       'F2000', 'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007',
       'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 'F2015',
       'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022'],
      dtype='object')

In [29]:
#Queremos eliminar las columnas F1992-F1995, F2020-F2022
# Eliminar múltiples columnas
Land_cover = Land_cover.drop(['F1992', 'F1993', 'F1994', 'F1995','F2020', 'F2021', 'F2022'], axis=1)

In [30]:
#revisamos las columnas de Land Cover
Land_cover.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Climate_Influence',
       'F1996', 'F1997', 'F1998', 'F1999', 'F2000', 'F2001', 'F2002', 'F2003',
       'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011',
       'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019'],
      dtype='object')

In [4]:
#guardamos los cambios de Land Cover
Land_cover.to_csv('Land_Cover_Accounts_ok.csv', index=False)

NameError: name 'Land_cover' is not defined

Con los nuevos ficheros hacemos lectura de los mismos y seguimos trabajando

In [8]:
#Letura de los ficheros ok
surface_temperature= pd.read_csv('Annual_Surface_Temperature_Change_ok.csv')
surface_temperature

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,F1996,F1997,F1998,F1999,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,F2008,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.116,0.471,0.675,1.198,0.993,1.311,1.365,0.587,1.373,0.401,1.720,0.675,0.704,0.895,1.613,1.397,0.223,1.281,0.456,1.093,1.555,1.540,1.544,0.910
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.038,0.075,0.795,0.670,1.065,1.532,0.492,0.970,0.444,0.189,0.345,1.316,0.978,0.910,1.191,1.055,1.487,1.333,1.198,1.569,1.464,1.121,2.028,1.675
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.846,1.059,1.109,1.476,0.820,1.856,1.258,1.585,0.988,1.264,1.395,1.220,1.185,0.945,2.265,1.398,1.147,1.192,1.690,1.121,1.757,1.512,1.210,1.115
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.784,NaN,NaN,0.242,0.626,0.904,1.152,0.716,0.191,0.801,0.403,1.032,0.670,NaN,1.311,0.854,0.924,1.257,1.170,1.009,1.539,1.435,1.189,1.539
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.570,1.788,1.018,1.055,1.050,1.480,0.835,1.949,0.936,0.851,1.485,1.024,0.946,1.413,0.471,1.677,1.265,0.831,1.946,1.690,1.990,1.925,1.919,1.964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,221,Western Sahara,EH,ESH,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",1.353,1.536,1.415,0.935,0.874,1.296,1.249,1.387,1.550,1.210,1.406,0.903,1.351,0.938,1.898,1.579,1.344,1.423,1.401,1.510,1.732,2.204,0.942,1.477
221,222,World,NaN,WLD,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.355,0.656,0.993,0.783,0.728,0.834,1.021,0.893,0.913,1.095,0.998,1.195,0.935,0.957,1.219,0.921,1.074,1.016,1.053,1.412,1.660,1.429,1.290,1.444
222,223,"Yemen, Rep. of",YE,YEM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",NaN,0.107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,224,Zambia,ZM,ZMB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.393,0.339,0.876,0.064,-0.040,0.263,0.711,0.871,0.606,0.948,0.623,0.780,0.438,0.306,1.210,0.956,0.972,0.790,0.917,1.450,1.401,0.105,0.648,0.855
224,225,Zimbabwe,ZW,ZWE,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.247,-0.025,0.801,0.030,-0.417,0.004,0.487,0.355,-0.004,0.945,-0.260,0.127,0.078,-0.226,0.935,0.232,0.334,0.118,0.025,0.970,1.270,0.088,0.453,0.925

In [12]:
#Lectura del fichero Co2 concentrations
Co2_concentration= pd.read_csv('Co2_concentration_ok.csv')
Co2_concentration

,ObjectId,Country,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Date,Value,Years
0,897,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1996M01,362.20,1996
1,898,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1996M01,0.60,1996
2,899,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1996M02,363.36,1996
3,900,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1996M02,0.65,1996
4,901,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1996M03,364.28,1996
...,...,...,...,...,...,...,...,...,...,...,...,...
571,1468,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2019M10,0.63,2019
572,1469,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2019M11,410.47,2019
573,1470,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2019M11,0.55,2019
574,1471,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2019M12,411.97,2019
575,1472,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2019M12,0.66,2019

In [13]:
#Lectura del fichero Change Mean Sea Levels
Sea_levels= pd.read_csv('Change_Mean_Sea_Levels_ok.csv')
Sea_levels

,ObjectId,Country,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Measure,Date,Value,Years
0,2546,World,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Atlantic Ocean,D01/01/1996,-10.31,1996
1,2547,World,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Bering Sea,D01/01/1996,72.95,1996
2,2548,World,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Indian Ocean,D01/01/1996,1.67,1996
3,2549,World,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",North Atlantic,D01/01/1996,-20.63,1996
4,2550,World,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Yellow Sea,D01/01/1996,-64.51,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30429,32975,World,WLD,Change in mean sea level: Sea level: Jason.3,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",South China,D12/31/2019,95.10,2019
30430,32976,World,WLD,Change in mean sea level: Sea level: Jason.3,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Southern Ocean,D12/31/2019,66.79,2019
30431,32977,World,WLD,Change in mean sea level: Sea level: Jason.3,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Tropics,D12/31/2019,67.10,2019
30432,32978,World,WLD,Change in mean sea level: Sea level: Jason.3,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",World,D12/31/2019,67.48,2019
30433,32979,World,WLD,Change in mean sea level: Sea level: Jason.3,Millimeters,National Oceanic and Atmospheric Administratio...,ECCL,Change in Mean Sea Level,"Environment, Climate Change, Climate Indicator...",Yellow Sea,D12/31/2019,59.58,2019

In [14]:
#Lectura del fichero Land_Cover_Accounts
Land_cover= pd.read_csv('Land_Cover_Accounts_ok.csv')
Land_cover

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Climate_Influence,F1996,F1997,F1998,F1999,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,F2008,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019
0,1,Advanced Economies,NaN,AETMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,97.441706,97.509127,97.672341,98.129488,98.847612,99.045783,99.284305,99.405776,99.566642,99.599683,99.578181,99.561380,99.648257,99.680627,99.775715,99.901000,99.960848,99.977877,99.995789,100.00,100.013775,100.083020,100.240398,100.356993
1,2,Advanced Economies excluding US,NaN,EAEUSTMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,97.135987,97.181578,97.283967,97.888593,98.936846,99.091660,99.413273,99.557533,99.799221,99.803638,99.729274,99.637397,99.733323,99.763216,99.870154,100.048878,100.101174,100.069004,100.031639,100.00,99.985052,100.017642,100.013159,100.020579
2,3,Africa,NaN,AFRTMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,94.778176,95.177312,95.608114,96.683410,97.175286,97.585543,97.917541,98.137550,98.452292,98.369182,98.484172,98.599986,98.850927,99.277579,99.110412,99.254352,100.467000,100.402173,100.197790,100.00,99.896321,99.834069,99.555667,99.552164
3,4,Americas,NaN,AMETMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,94.735406,94.997426,95.503961,96.364832,96.608819,96.819309,96.946463,97.282485,98.251951,98.141216,98.089117,98.320692,98.521855,98.747559,99.013559,99.152500,99.398834,99.606086,99.778072,100.00,100.276408,100.579215,100.807091,100.933862
4,5,Asia,NaN,ASIATMP,Climate Altering Land Cover Index,Index,Food and Agriculture Organization of the Unite...,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,100.174378,100.389103,100.631188,101.212330,101.723865,101.880677,101.973053,101.855282,101.905279,101.801054,101.573133,101.297411,101.146469,100.968824,100.779813,100.495593,100.264990,100.105208,100.084266,100.00,99.558494,99.187865,98.971561,98.602466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,3029,Zimbabwe,ZW,ZWE,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,Food and Agriculture Organization of the Unite...,ECCCV,Shrubs and/or Herbaceous Vegetation and Aquati...,"Environment, Climate Change, Climate and Weath...",Climate regulating,27.610000,27.640000,27.920000,28.320000,28.370000,28.520000,28.790000,28.790000,28.910000,29.210000,29.230000,29.300000,28.880000,28.030000,28.150000,28.100000,28.300000,28.250000,28.320000,28.32,28.170000,27.940000,27.910000,27.950000
3029,3030,Zimbabwe,ZW,ZWE,Sparsely natural vegetated areas,1000 HA,Food and Agriculture Organization of the Unite...,ECCCN,Sparsely Natural Vegetated Areas,"Environment, Climate Change, Climate and Weath...",Climate neutral,17.600000,17.600000,17.600000,17.930000,18.010000,18.020000,18.040000,18.110000,18.110000,18.160000,18.160000,18.160000,18.310000,18.280000,18.280000,18.280000,18.260000,18.250000,18.230000,18.23,18.280000,18.280000,18.340000,18.310000
3030,3031,Zimbabwe,ZW,ZWE,Terrestrial barren land,1000 HA,Food and Agriculture Organization of the Unite...,ECCCT,Terrestrial Barren Land,"Environment, Climate Change, Climate and Weath...",Climate neutral,92.420000,92.760000,93.240000,93.660000,94.420000,94.510000,94.540000,94.480000,94.560000,94.710000,94.640000,94.280000,94.140000,93.620000,93.610000,93.480000,93.360000,93.200000,92.980000,92.97,91.960000,91.380000,90.630000,90.450000
3031,3032,Zimbabwe,ZW,ZWE,Tree-covered areas,1000 HA,Food and Agriculture Organization of the Unite...,ECCCE,Tree-Covered Areas,"Environment, Climate Change, Climate and Weath...",Climate regulating,11104.180000,11146.530000,11136.560000,11092.840000,11137.750000,11133.680000,11113.730000,11106.950000,11144.330000,11136.170000,11165.700000,11115.430000,11161.680000,11289.770000,11296.330000,11299.670000,11280.560000,11288.060000,11323.870000,11323.76,11511.850000,11610.040000,11645.810000,11649.910000
3032,3033,Zimbabwe,ZW,ZWE,Woody crops,1000 HA,Food and Agriculture Organization of the Unite...,ECCCR,Woody Crops,"Environment, Climate Change, Climate and Weath...",Climate regulating,370.420000,360.550000,371.800000,360.900000,358.650000,359.830000,358.880000,360.720000,347.740000,339.410000,323.400000,333.310000,314.830000,325.590000,333.590000,318.130000,334.100000,334.080000,333.750000,333.75,331.990000,330.720000,330.520000,330.560000

In [16]:
#Quitamos la F del principio de las columnas que indican los años para que esto salga luego limpio en el df de Land_cover y surface_temperature


# Identificar columnas que empiezan con 'F' y están seguidas por un número
columnas_a_cambiar = Land_cover.columns[Land_cover.columns.str.match(r'^F\d+')]

# Crear un diccionario de mapeo para renombrar solo las columnas que empiezan con 'F' y tienen un número
nuevo_nombre_columnas = {col: col.replace('F', '') for col in columnas_a_cambiar}

# Renombrar solo las columnas seleccionadas
Land_cover.rename(columns=nuevo_nombre_columnas, inplace=True)

# Mostrar las columnas renombradas
print(Land_cover.columns)

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Climate_Influence',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [17]:
# Identificar columnas que empiezan con 'F' y están seguidas por un número
columnas_a_cambiar = surface_temperature.columns[surface_temperature.columns.str.match(r'^F\d+')]

# Crear un diccionario de mapeo para renombrar solo las columnas que empiezan con 'F' y tienen un número
nuevo_nombre_columnas = {col: col.replace('F', '') for col in columnas_a_cambiar}

# Renombrar solo las columnas seleccionadas
surface_temperature.rename(columns=nuevo_nombre_columnas, inplace=True)

# Mostrar las columnas renombradas
print(surface_temperature.columns)

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [22]:
#Rodear a 2 los decimales de las columnas anuales de Land_cover
columnas_a_redondear = [ '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019']

Land_cover[columnas_a_redondear] = Land_cover[columnas_a_redondear].round(2)

In [49]:
print(Land_cover)

      ObjectId                          Country ISO2      ISO3  \
0            1               Advanced Economies  NaN     AETMP
1            2  Advanced Economies excluding US  NaN  EAEUSTMP
2            3                           Africa  NaN    AFRTMP
3            4                         Americas  NaN    AMETMP
4            5                             Asia  NaN   ASIATMP
...        ...                              ...  ...       ...
3028      3029                         Zimbabwe   ZW       ZWE
3029      3030                         Zimbabwe   ZW       ZWE
3030      3031                         Zimbabwe   ZW       ZWE
3031      3032                         Zimbabwe   ZW       ZWE
3032      3033                         Zimbabwe   ZW       ZWE

                                              Indicator     Unit CTS_Code  \
0                     Climate Altering Land Cover Index    Index    ECCCA
1                     Climate Altering Land Cover Index    Index    ECCCA
2                     Climate Altering Land Cover Index    Index    ECCCA
3                     Climate Altering Land Cover Index    Index    ECCCA
4                     Climate Altering Land Cover Index    Index    ECCCA
...                                                 ...      ...      ...
3028  Shrubs and/or herbaceous vegetation, aquatic o...  1000 HA    ECCCV
3029                   Sparsely natural vegetated areas  1000 HA    ECCCN
3030                            Terrestrial barren land  1000 HA    ECCCT
3031                                 Tree-covered areas  1000 HA    ECCCE
3032                                        Woody crops  1000 HA    ECCCR

                                               CTS_Name  \
0                     Climate Altering Land Cover Index
1                     Climate Altering Land Cover Index
2                     Climate Altering Land Cover Index
3                     Climate Altering Land Cover Index
4                     Climate Altering Land Cover Index
...                                                 ...
3028  Shrubs and/or Herbaceous Vegetation and Aquati...
3029                   Sparsely Natural Vegetated Areas
3030                            Terrestrial Barren Land
3031                                 Tree-Covered Areas
3032                                        Woody Crops

                                    CTS_Full_Descriptor   Climate_Influence  \
0     Environment, Climate Change, Climate and Weath...    Climate altering
1     Environment, Climate Change, Climate and Weath...    Climate altering
2     Environment, Climate Change, Climate and Weath...    Climate altering
3     Environment, Climate Change, Climate and Weath...    Climate altering
4     Environment, Climate Change, Climate and Weath...    Climate altering
...                                                 ...                 ...
3028  Environment, Climate Change, Climate and Weath...  Climate regulating
3029  Environment, Climate Change, Climate and Weath...     Climate neutral
3030  Environment, Climate Change, Climate and Weath...     Climate neutral
3031  Environment, Climate Change, Climate and Weath...  Climate regulating
3032  Environment, Climate Change, Climate and Weath...  Climate regulating

          1996      1997      1998      1999      2000      2001      2002  \
0        97.44     97.51     97.67     98.13     98.85     99.05     99.28
1        97.14     97.18     97.28     97.89     98.94     99.09     99.41
2        94.78     95.18     95.61     96.68     97.18     97.59     97.92
3        94.74     95.00     95.50     96.36     96.61     96.82     96.95
4       100.17    100.39    100.63    101.21    101.72    101.88    101.97
...        ...       ...       ...       ...       ...       ...       ...
3028     27.61     27.64     27.92     28.32     28.37     28.52     28.79
3029     17.60     17.60     17.60     17.93     18.01     18.02     18.04
3030     92.42     92.76     93.24     93.66     94.42     94.51     94.54
3031  11104.18  11146.53  11136.56  11092.84  11137.75  11133.68  11113.73
3032    370.42    360.55    371.80    360.90    358.65    359.83    358.88

          2003      2004      2005      2006      2007      2008      2009  \
0        99.41     99.57     99.60     99.58     99.56     99.65     99.68
1        99.56     99.80     99.80     99.73     99.64     99.73     99.76
2        98.14     98.45     98.37     98.48     98.60     98.85     99.28
3        97.28     98.25     98.14     98.09     98.32     98.52     98.75
4       101.86    101.91    101.80    101.57    101.30    101.15    100.97
...        ...       ...       ...       ...       ...       ...       ...
3028     28.79     28.91     29.21     29.23     29.30     28.88     28.03
3029     18.11     18.11     18.16     18.16     18.16     18.31     18.28
3030     94.48     94.56     94.71     94.64     94.28     94.14     93.62
3031  11106.95  11144.33  11136.17  11165.70  11115.43  11161.68  11289.77
3032    360.72    347.74    339.41    323.40    333.31    314.83    325.59

          2010      2011      2012      2013      2014      2015      2016  \
0        99.78     99.90     99.96     99.98    100.00    100.00    100.01
1        99.87    100.05    100.10    100.07    100.03    100.00     99.99
2        99.11     99.25    100.47    100.40    100.20    100.00     99.90
3        99.01     99.15     99.40     99.61     99.78    100.00    100.28
4       100.78    100.50    100.26    100.11    100.08    100.00     99.56
...        ...       ...       ...       ...       ...       ...       ...
3028     28.15     28.10     28.30     28.25     28.32     28.32     28.17
3029     18.28     18.28     18.26     18.25     18.23     18.23     18.28
3030     93.61     93.48     93.36     93.20     92.98     92.97     91.96
3031  11296.33  11299.67  11280.56  11288.06  11323.87  11323.76  11511.85
3032    333.59    318.13    334.10    334.08    333.75    333.75    331.99

          2017      2018      2019
0       100.08    100.24    100.36
1       100.02    100.01    100.02
2        99.83     99.56     99.55
3       100.58    100.81    100.93
4        99.19     98.97     98.60
...        ...       ...       ...
3028     27.94     27.91     27.95
3029     18.28     18.34     18.31
3030     91.38     90.63     90.45
3031  11610.04  11645.81  11649.91
3032    330.72    330.52    330.56

[3033 rows x 34 columns]

In [ ]:
# Ahora vamos a revisar los Unique de las columnas para ver posibles columnas que se puedan borrar si solo tiene unvalor que es indicativo

In [18]:

def columnas_con_un_valor(df):
    # Identificar las columnas con un solo valor único
    columnas_unicas = df.nunique()[df.nunique() == 1].index
    return columnas_unicas

In [19]:
# LandCover
resultado1 = columnas_con_un_valor(Land_cover)

# Mostrar las columnas con un solo valor único
print(f"Columnas con un solo valor único: {resultado1}")

Columnas con un solo valor único: Index(['Source'], dtype='object')

In [34]:
resultado2 = columnas_con_un_valor(Sea_levels)
print(resultado2)

Index([], dtype='object')

In [33]:
resultado3 = columnas_con_un_valor(surface_temperature)
print(resultado3)

Index(['Indicator', 'Unit', 'Source', 'CTS_Code', 'CTS_Name',
       'CTS_Full_Descriptor'],
      dtype='object')

In [35]:
resultado4 = columnas_con_un_valor(Co2_concentration)
print(resultado4)

Index(['Country', 'ISO3', 'Source', 'CTS_Code', 'CTS_Name',
       'CTS_Full_Descriptor'],
      dtype='object')

Borrar las columnas repetidas del df

In [38]:
columnas_eliminar = ['Indicator', 'Unit', 'Source', 'CTS_Code', 'CTS_Name','CTS_Full_Descriptor']
surface_temperature = surface_temperature.drop(columns = columnas_eliminar)

In [36]:
columnas_eliminar = ['Country', 'ISO3', 'Source', 'CTS_Code', 'CTS_Name','CTS_Full_Descriptor']
Co2_concentration =  Co2_concentration.drop(columns = columnas_eliminar)

In [ ]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['Country', 'ISO3', 'Unit', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']

# Eliminar las columnas del DataFrame
Sea_levels = Sea_levels.drop(columns=columnas_a_eliminar)

KeyError: "['Country', 'ISO3', 'Unit', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor'] not found in axis"

In [31]:

Land_cover = Land_cover.drop(columns = "Source")

In [43]:
Land_cover

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,CTS_Code,CTS_Name,CTS_Full_Descriptor,Climate_Influence,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1,Advanced Economies,NaN,AETMP,Climate Altering Land Cover Index,Index,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,97.44,97.51,97.67,98.13,98.85,99.05,99.28,99.41,99.57,99.60,99.58,99.56,99.65,99.68,99.78,99.90,99.96,99.98,100.00,100.00,100.01,100.08,100.24,100.36
1,2,Advanced Economies excluding US,NaN,EAEUSTMP,Climate Altering Land Cover Index,Index,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,97.14,97.18,97.28,97.89,98.94,99.09,99.41,99.56,99.80,99.80,99.73,99.64,99.73,99.76,99.87,100.05,100.10,100.07,100.03,100.00,99.99,100.02,100.01,100.02
2,3,Africa,NaN,AFRTMP,Climate Altering Land Cover Index,Index,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,94.78,95.18,95.61,96.68,97.18,97.59,97.92,98.14,98.45,98.37,98.48,98.60,98.85,99.28,99.11,99.25,100.47,100.40,100.20,100.00,99.90,99.83,99.56,99.55
3,4,Americas,NaN,AMETMP,Climate Altering Land Cover Index,Index,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,94.74,95.00,95.50,96.36,96.61,96.82,96.95,97.28,98.25,98.14,98.09,98.32,98.52,98.75,99.01,99.15,99.40,99.61,99.78,100.00,100.28,100.58,100.81,100.93
4,5,Asia,NaN,ASIATMP,Climate Altering Land Cover Index,Index,ECCCA,Climate Altering Land Cover Index,"Environment, Climate Change, Climate and Weath...",Climate altering,100.17,100.39,100.63,101.21,101.72,101.88,101.97,101.86,101.91,101.80,101.57,101.30,101.15,100.97,100.78,100.50,100.26,100.11,100.08,100.00,99.56,99.19,98.97,98.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,3029,Zimbabwe,ZW,ZWE,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,ECCCV,Shrubs and/or Herbaceous Vegetation and Aquati...,"Environment, Climate Change, Climate and Weath...",Climate regulating,27.61,27.64,27.92,28.32,28.37,28.52,28.79,28.79,28.91,29.21,29.23,29.30,28.88,28.03,28.15,28.10,28.30,28.25,28.32,28.32,28.17,27.94,27.91,27.95
3029,3030,Zimbabwe,ZW,ZWE,Sparsely natural vegetated areas,1000 HA,ECCCN,Sparsely Natural Vegetated Areas,"Environment, Climate Change, Climate and Weath...",Climate neutral,17.60,17.60,17.60,17.93,18.01,18.02,18.04,18.11,18.11,18.16,18.16,18.16,18.31,18.28,18.28,18.28,18.26,18.25,18.23,18.23,18.28,18.28,18.34,18.31
3030,3031,Zimbabwe,ZW,ZWE,Terrestrial barren land,1000 HA,ECCCT,Terrestrial Barren Land,"Environment, Climate Change, Climate and Weath...",Climate neutral,92.42,92.76,93.24,93.66,94.42,94.51,94.54,94.48,94.56,94.71,94.64,94.28,94.14,93.62,93.61,93.48,93.36,93.20,92.98,92.97,91.96,91.38,90.63,90.45
3031,3032,Zimbabwe,ZW,ZWE,Tree-covered areas,1000 HA,ECCCE,Tree-Covered Areas,"Environment, Climate Change, Climate and Weath...",Climate regulating,11104.18,11146.53,11136.56,11092.84,11137.75,11133.68,11113.73,11106.95,11144.33,11136.17,11165.70,11115.43,11161.68,11289.77,11296.33,11299.67,11280.56,11288.06,11323.87,11323.76,11511.85,11610.04,11645.81,11649.91
3032,3033,Zimbabwe,ZW,ZWE,Woody crops,1000 HA,ECCCR,Woody Crops,"Environment, Climate Change, Climate and Weath...",Climate regulating,370.42,360.55,371.80,360.90,358.65,359.83,358.88,360.72,347.74,339.41,323.40,333.31,314.83,325.59,333.59,318.13,334.10,334.08,333.75,333.75,331.99,330.72,330.52,330.56

Guardamos cambios en nuevos csv

In [50]:
Land_cover.to_csv('Land_Cover_Accounts_V2.csv', index=False)

In [51]:
surface_temperature.to_csv('Annual_surface_temperature_change_V2.csv', index = False)

In [46]:
Sea_levels.to_csv('Change_Mean_Sea_levels_V2.csv', index=False)

In [47]:
Co2_concentration.to_csv('Co2_concentration_V2.csv',index=False)